<template>
    <v-list two-line>
        <template v-for="(item, idx) in value">
            <v-divider v-if="!!idx" inset/>
            <v-list-item :key="item.node.uuid"
                         :to="`/idk${item.node.objId}`"
                         :disabled="disabled.indexOf(item.node.uuid) > -1">
                <v-list-item-avatar>
                    <v-img :src="item.node.avataro.bildoF.url"></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title v-html="item.node.nomo.enhavo">
                    </v-list-item-title>
                    <v-list-item-subtitle>
                        Участников: {{ item.node.statistiko.tuta }}
                    </v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-action>
                    <v-btn v-if="!$auth.loggedIn"
                           @click="$event.preventDefault(); $siriuso.showLoginForm()"
                           color="green lighten-1"
                           dark>
                        <v-icon>
                            mdi-plus
                        </v-icon>
                    </v-btn>

                    <v-btn v-else-if="!item.node.statistiko.mia"
                           @click="kunigu($event, item.node.uuid, item.node.nomo.uuid)"
                           color="green lighten-1"
                           :loading="disabled.indexOf(item.node.uuid) !== -1"
                           dark>
                        <v-icon>
                            mdi-plus
                        </v-icon>
                    </v-btn>

                    <v-btn v-else
                           @click="forlasu($event, item.node.uuid, item.node.nomo.enhavo)"
                           color="blue darken-2"
                           :loading="disabled.indexOf(item.node.uuid) !== -1"
                           dark>
                        <v-icon>
                            mdi-check
                        </v-icon>
                    </v-btn>
                </v-list-item-action>
            </v-list-item>
        </template>
    </v-list>
</template>

<script>
  import { forlasu_query, kunigu_query } from '~/components/kom/queries.js'

  export default {
    data() {
      return {
        disabled: [],
      }
    },

    props: {
      value: {
        type: Array,
        required: true
      }
    },

    computed: {
      isLarge () {
        return this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl
      },
      isServer () {
        return process.server
      }
    },

    methods: {
      kunigu (event, uuid, name) {
        event.preventDefault()
        this.disabled.push(uuid)

        return this.$axios.post('', {
          query: kunigu_query,
          variables: { kom_uuid: uuid },
          csrfmiddleware: this.$auth.$storage.getUniversal('csrf-token', false)
        }).then(response => {
          const resp = response.data.data.kuniguKomunumon

          if (resp.status) {
            const idx = this.value.findIndex(v => v.node.uuid === uuid)

            if (idx) {
              this.$set(this.value[idx].node, 'statistiko', resp.statistiko)
              this.disabled.splice(this.disabled.indexOf(uuid), 1)
            }

            return Promise.resolve(resp)
          } else {
            this.$siriuso.showError(resp.message)
            const e = new Error(resp.message)
            console.error(e)
            this.disabled.splice(this.disabled.indexOf(uuid), 1)

            return Promise.reject(e)
          }
        })
          .catch(e => {
            this.$siriuso.showError('Ошибка при запросе :(')
            console.log(e)
            this.disabled.splice(this.disabled.indexOf(uuid), 1)

            return Promise.reject(e)
          })
      },

      forlasu (event, uuid, name) {
        event.preventDefault()
        this.disabled.push(uuid)

        if (confirm(`Вы хотите покинуть сообщество${' "' + name + '"'}?`)) {
          return this.$axios.post('', {
            query: forlasu_query,
            variables: { kom_uuid: uuid },
            csrfmiddleware: this.$auth.$storage.getUniversal('csrf-token', false)
          }).then(response => {
            const resp = response.data.data.forlasuKomunumon

            if (resp.status) {
              const idx = this.value.findIndex(v => v.node.uuid === uuid)

              if (idx) {
                this.$set(this.value[idx].node, 'statistiko', resp.statistiko)
                this.disabled.splice(this.disabled.indexOf(uuid), 1)
              }

              return Promise.resolve(resp)
            } else {
              this.$siriuso.showError(resp.message)
              const e = new Error(resp.message)
              console.error(e)
              this.disabled.splice(this.disabled.indexOf(uuid), 1)

              return Promise.reject(e)
            }
          })
            .catch(e => {
              this.$siriuso.showError('Ошибка при запросе :(')
              console.log(e)
              this.disabled.splice(this.disabled.indexOf(uuid), 1)

              return Promise.reject(e)
            })
        }

        this.disabled.splice(this.disabled.indexOf(uuid), 1)
        return Promise.resolve()
      }
    }
  }
</script>

<style scoped>

</style>
